
html {
    background-image: url("./background.jpg");
}

body {
    opacity: .9;
    margin:10;
}
#container {
    background: border-box;
    padding: 20px;
    margin: 0 auto;
    
    width: 900px;
}

#header {
    background-image:url(./header.jpg);
    color: white;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid black;
}

#main {
    background: white;
    padding: 10px;
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    height:600px;
}

h3 {
    color:brown;
    font-size: xx-large;
    text-align: center;
}
#footer {
    background: green;
    color: white;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid black;
}

#menu {
    background: orange;
    color: white;
    padding: 10px;
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.level1 {
    color: Black;
    font-family:Rockwell;
    font-variant: small-caps;
    font-size: large;
    font-weight: bold;
}

.level2 {
    color: Black;
    font-family: Rockwell;
    font-size: medium;

}

.level3 {
    color: white;
    background-color: blue;
    font-family: Gill Sans mt !important;
    font-size: small;
}

.hdr_img {
    float: right;
    margin: 0;
    padding: 0;
    border: 0;
}